<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cotiss Feedback Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

    <!-- Our Style Sheet -->

    <script type="text/javascript">
      function randomColors() {
        document.write("<div style='color:#" + Math.floor(Math.random()*4096).toString(16) + ";'>");
      }
    </script>


</head>

<body>

<div class="container">
  <h1>Cotiss Honest Feedback Portal</h1>
  <h4>Welcome to the Cotiss Feedback Portal!</h4> 
</div>

<div class="container">
  <h3>Employee Feedback</h3>
  <p>Here is what our employees have to say.</p> 

  <br>
 
  <div class="container-fluid">
    {% for row in data | batch(3, '&nbsp;') %}
      <div class="row">
        {% for value in row %}
            <script>randomColors()</script>
              <div class="col-sm-4"">
                <p> {{ value.feedback }} </p>
              </div>
            </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div> 

</div>

<div class="container">
  <h3>Submit Feedback</h3>
  <p>Submit your own feedback.</p> 
  <br><br>
  <div class="form-group">
    <form action="/upload" id="usrform">
      <label for="Feedback">Honest Feedback:</label>
      <input type="text" name="feedback" id="feedback" placeholder="Enter your feedback!"><br/>
     <br>
     <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>


    
</body>
</html>
